<div class="content-section-b">
	<div class="container">
		<!-- Registration Form -->
		<div class="row">
			<div class="col-md-8" ng-controller="RegistrationController">
				<h3>Register a new user</h3>
				<div id="messages" ng-show="message">{{ message }}</div>
	             <form name="registerUser" ng-submit="register(registerUser.$valid)" novalidate>
	                 <div class="control-group form-group" ng-class="{ 'has-error' : formData.username.$invalid && !formData.username.$pristine}">
	                     <div class="controls">
	                         <label>Username:</label>
	                         <input type="text" class="form-control" id="username" placeholder="Username" required autofocus ng-model="formData.username" ng-minlength=3 ng-maxlength=60>
	                         <p ng-show="registerUser.username.$error.minlength" class="help-block">Username is too short.</p>
  							 <p ng-show="registerUser.username.$error.maxlength" class="help-block">Username is too long.</p>
	                     </div>
	                 </div>
	                 <div class="control-group form-group">
	                     <div class="controls">
	                         <label>Password:</label>
	                         <input type="password" class="form-control" id="password" required ng-model="formData.password" ng-minlength=6>
	                         <p ng-show="registerUser.password.$error.minlength" class="help-block">Password is too short.</p>
	                         <p ng-show="!registerUser.password.$pristine && !registerUser.confirmPassword.$pristine && (registerUser.password != registerUser.confirmPassword)">Passwords do not match</p>
	                     </div>
	                 </div>
	                 <div class="control-group form-group">
	                     <div class="controls">
	                         <label>Confirm Password:</label>
	                         <input type="password" class="form-control" id="confirmPassword" required ng-model="formData.confirmPassword" compare-to="formData.password">
	                         <span class="help-block" ng-show="errorPass">{{ errorPass }}</span>
	                     </div>
	                 </div>
	                 
	                 <div class="control-group form-group">
	                     <div class="controls">
	                         <label>Email Address:</label>
	                         <input type="email" class="form-control" placeholder="you@domain.com" id="email" required ng-model="formData.email">
	                          <p ng-show="registerUser.email.$invalid && !registerUser.email.$pristine" class="help-block">Enter a valid email.</p>
	                     </div>
	                 </div>
	                 <div class="control-group form-group">
	                     <div class="controls">
	                         <label>I am a:</label>
	                         <select id="userRole" class="form-control" required ng-model="formData.role">
	                         	<option value="S">Student</option>
	                         	<option value="P">Professor</option>
	                         </select>
	                     </div>
	                 </div>
	                 <div id="success"></div>
	                 <!-- For success/fail messages -->
	                 <button type="submit" class="btn btn-primary" ng-disabled="registerUser.$invalid">Register</button>
	                 <a href="index.html" class="btn btn-link">Cancel</a>
	             </form>
	         </div>
	     </div>
	     <!-- /.row -->
	</div>
</div>