<h1>Peer Review Application</h1>

<p>
<a href="#!/login">Login</a>
<a href="#!/register">Register</a>
<a href="/test.html">Test.html</a>
<a href="/test2.html">Test2.html</a>
<a href="" ng-click="$parent.logout()" target="_self">Logout</a>
</p>

<div ng-controller="index">
<div ng-if="student"><ng-include src="'/test2.html'"></ng-include></div>

<div ng-if="!student"><ng-include src="'/test.html'"></ng-include></div>

<p>Logged in user role is: {{$parent.$parent.user.principal.userRole}}</p>
</div>